@model E_CommerceProject.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security


@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                       

                        @*<button class="btn btn-lg btn-google btn-danger  btn-block text-uppercase" type="submit"  id="@p.AuthenticationType"
                                name="provider" value="@p.AuthenticationType" >
                    <i class="fab fa-google mr-2"></i> Sign up with Google</button>*@


                    }



                </p>
            </div>
        }
    }
}
