@using E_CommerceProject.Models

@{
    ViewBag.Title = "Sh";
}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!------ Include the above in your HEAD tag ---------->
    <link href="~/Content/Home/Shop.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="~/Content/Home/Search/css/main.css" rel="stylesheet" />
</head>



<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <a href="../Home/Index" class="link-header border rounded">Home</a>

        </div>
    </div>
</header>

<br />
<br />
<br />
<br />

<div class="container page-wrap">
    <div class="row">

        <div class="col-md-9">

            <div class="perfect-dress">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <h2>LOOKIN FOR THE PERFECT</h2>
                        <a href="../Home/Shop">DRESS</a>
                    </div>
                </div>
            </div>


            <div class="s130">
                <form action="~/home/GeneralSearch">
                    <div class="inner-form">
                        <div class="input-field first-wrap">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                </svg>
                            </div>
                            <input name="search" type="text" placeholder="What are you looking for?" />
                        </div>
                        <div class="input-field second-wrap">
                            <button class="btn-search" type="submit">SEARCH</button>
                        </div>
                    </div>
                </form>
            </div>


            <div class="row">
                <div class="search-link col-lg-12 text-center">

                    <a href="~/home/SearchWithType?type=Women" style="color:#f4a6aa;text-decoration:none;margin-left:20px" aria-controls="women">WOMEN</a>
                    <a href="~/home/SearchWithType?type=Men" style="color:#f4a6aa;text-decoration:none;margin-left:20px" aria-controls="men">MEN</a>
                    <a href="~/home/SearchWithType?type=Children" style="color:#f4a6aa;text-decoration:none;margin-left:20px" aria-controls="children">CHILDREN</a>


                </div>
            </div>
        </div>


        <div class="col-md-3 category-sidebar">
            <div>
                <h3>CATEGORIES</h3>
                @foreach (var item in (List<Category>)Session["Cats"])
                {
                    <div class="category-radio">
                        <input type="radio" name="category" id="skirts">
                        <label for="skirts"><i class="fa fa-circle"></i> @item.CategoryName</label>
                    </div>
                }

            </div>

            <div class="price-range">
                <h3>PRICE</h3>
                <p><a href="~/home/SearchByPrice?min=0&max=50"> 0 - 50 $  </a></p>
                <p><a href="~/home/SearchByPrice?min=50&max=100"> 50 - 100 $  </a></p>
                <p><a href="~/home/SearchByPrice?min=100&max=200">100  -  200 $</a></p>
                <p><a href="~/home/SearchByPrice?min=200&max=250">200  - 250 $ </a></p>
                <p><a href="~/home/SearchByPrice?min=250&max=-1">ِMore than 250 $ </a></p>

            </div>







        </div>


    </div>
</div>

<br />
<br />
<br />
<br />


@{
    Html.RenderPartial("_ShowProduct");
}

<script type="text/javascript">
    // price slider
    var slider = new Slider("#custom-slider", { tooltip: 'always', tooltip_position: 'bottom' });</script>



